<h1>Listing products</h1>

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :name_cont, 'Name contains' %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <%= f.label :price_gteq, "Price between" %>
    <%= f.text_field :price_gteq %>
    <%= f.label :price_lteq, "and" %>
    <%= f.text_field :price_lteq %>
  </div>
  <div class="actions"><%= f.submit 'Search' %></div>
<% end %>

<table>
  <tr>
    <th><%= sort_link @q, :name, "Name" %></th>
    <th><%= sort_link @q, :system, "System" %></th>
    <th><%= sort_link @q, :grade, "Grade" %></th>
    <th><%= sort_link @q, :description, "Descritpion" %></th>
    <th><%= sort_link @q, :price, "Price" %></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.system %></td>
    <td><%= product.grade %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
